/* ----------------------------------------------------------------
    Custom CSS

    Add all your Custom Styled CSS here for New Styles or
    Overwriting Default Theme Styles for Better Hanlding Updates
    -----------------------------------------------------------------*/

/*** Header section starts here ***/

body {

    background-color: #333333;
    font-family: 'Montserrat', sans-serif;

}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif !important;
}
p  {
    font-family: 'Open Sans', sans-serif !important;
}
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/custom-images/logo/SKF-Loader.gif) center no-repeat #fff;
}

/*Styles for newly edited Header*/
#top-bar{
    z-index: 100;
    border-bottom: none;
    left: -.4%;
}

.custom-icon-for-header{
    color: #fff;
}

.custom-icon-for-header > img{
    width: 30px;
    height: 30px;
}

#header.transparent-header.floating-header {
    margin-top: 0px;
}

#top-social .no-border-on-left{
    border-left: none;
    left: 4%;
}

.custom-career{

}
.cutom-tag-a-class-for-hr:hover, .si-colored.cutom-tag-a-class-for-hr {
    background-color: #007dbe;
}


#header.transparent-header.floating-header .container {
    background-color: transparent;

    padding: 0px 38px;
    padding-left: 0px;
}


.cutom-tag-a-class-for-news:hover{
    background-color: #007dbe;
}


/*Styles for newly Edited Header*/



/*Styles for newly Edited Contact-contents*/

.heading-block.custom-heading-block-for-conatct-corporate-office > h3{
    text-transform: none;
    font-size: 23px;
    color: #2c2c2c;
    margin-top: 15px;

}

.heading-block.custom-heading-block-for-conatct-corporate-office > span{

    width: 31%;
    font-size: 16.5px;
    font-weight: 400;
}
/*End of Styles for newly Edited Contact-contents*/



/*Styles for newly Edited Contact-contents*/

#datatable1{
    color: #393939;
}
/*End of Styles for newly Edited Contact-contents*/



/*New Styles for product section*/

.product_meta{

    display: none;

}


.product-col-download-logo{
    width:15%;
    padding:0;
}


.woocommerce div.product .product_title, .woocommerce-product-details__short-description h4 {
    color: #2e8ece;
    margin-top: -3.4%;
    font-size: 45px;
}

.woocommerce-product-details__short-description h4 {
    font-size: 22px;
}

.generic-name-div{
    margin-bottom: 50px;
}

.generic-name-div span{
    font-size: 16px;
}


.therapeutic-name-div{
    margin-bottom: 12.8%;
}

.therapeutic-name-div span{
    font-size: 16px;
}

.related.products{
    margin-top: 15%;
}


/*End of New styles product section*/









/* Remove top space from the floating header*/
#header.transparent-header.floating-header + #page-title.page-title-parallax {
    top: -160px;
    margin-bottom: -160px;
}


#header.transparent-header.floating-header.sticky-header .container #primary-menu ul li > a,
#header.transparent-header.floating-header.sticky-header .container #top-search a,
#header.transparent-header.floating-header.sticky-header .container #top-search form input {
    color: #666;
}

#primary-menu ul li > a {
    color: #fff;
    font-size: 13px;
}

/* On sticky menu change color on hover */
#primary-menu.menu a:hover,
#header.transparent-header.floating-header.sticky-header .container #primary-menu.menu ul li > a:hover {
    color: #2e8ece;
}

#top-search a, #top-cart > a, #side-panel-trigger a, #top-account a,
#top-search form input,
.three-col-sec h3, .three-col-sec p {
    color: #fff;
}

.three-col-sec p {
    font-size: 16px;
}
.icon-spacing {
    margin-right: 16px;
}

/* Change font color on woocommerce single product page */
#primary-menu.menu-shop ul li > a {
    color: #444;
    font-size: 15px;
}
/* On hover show the given color on woocommerce single product page */
#primary-menu.menu-shop a:hover,
#header.transparent-header.floating-header.sticky-header .container #primary-menu.menu-shop ul li > a:hover {
    color: #2e8ece;
}

#primary-menu.menu-shop ul ul li > a {
    font-size: 12px;
    font-weight: 600;
    color: #666;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    letter-spacing: 0;
    font-family: 'Lato', sans-serif;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

#header.transparent-header.floating-header.sticky-header .container #primary-menu-shop ul li > a,
#header.transparent-header.floating-header.sticky-header .container #top-search a,
#header.transparent-header.floating-header.sticky-header .container #top-search form input {
    color: #666;
}

.menu-shop #top-search a {
    color: #666;
}


#skf-footer-logo{
    right: 15%;
}

#skf-footer-contact{
    left: 15%;
}

/*** Header section ends here ***/

/*** Hover effect customization starts here ***/

/*---------------*/
/***** Chico *****/
/*---------------*/
.grid {
    position: relative;
    margin: 0 auto;
    padding: 1em 0 4em;
    max-width: 1550px;
    list-style: none;
    text-align: center;
    padding-left: 40px;
}
.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    max-width: 480px;
    max-height: 360px;
    width: 30%;
    background: #000000;
    text-align: center;
    cursor: pointer;
}
.grid figure h2{
    color: #fff;
    font-weight: 600;
    word-spacing: 0em;
    letter-spacing: 0.05em;
}
.grid figure figcaption {
    text-transform: none;
}
.grid figure p {
    font-size: 90.5%;
}
#content p {
    line-height: 1.2;
    padding-top: 5px;
}

figure.effect-chico h2 {
    /*padding: 0;*/
}

/*** Hover effect customization ends here ***/

/* Copyright text */
.copyright-text {
    text-align:center;
}

/* Timeline */

.cd-timeline-content {
    background: #d7e4ed;
}

.cd-timeline-content p {
    font-size: 16px;
}

.timeline-heading {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -80px;
}

/* Place it 30px down from the heading, to stop overlapping*/
#cd-timeline::before {
    top: 30px;
}

.cd-timeline-img.cd-picture {
    background: #0facee;
}

.cd-timeline-img h4 {
    display: block;
    position: relative;
    left: 40%;
    top: 44%;
    margin-left: -13px;
    margin-top: -12px;
    color: #fff;
}

/* Datatable */
#datatable1 {
    font-size: 18px;
    color: #fff;
}

#datatable1 .counter {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}

/* Collapsible divs */
/* Enable pointer on mouse hover */
.biography {
    margin-top: 10px;
    cursor: pointer; cursor: hand;
}


/* Icon when the collapsible content is shown */
.btn:after {
    font-family: 'Lato', sans-serif;
    content: "\2212";
    float: right;
}
/* Icon when the collapsible content is hidden */
.btn.collapsed:after {
    font-family: 'Lato', sans-serif;
    content: "\2b";
    float: right;
}

#bootstrap-overrides .panel-group .panel {
    margin-bottom: 10px;
    border-radius: 4px;
}
#bootstrap-overrides .panel-default {
    border-color: transparent;
}
#bootstrap-overrides .panel-default > .panel-heading {
    color: #333333;
    background-color: transparent;
    border-color: #dddddd;
}
#bootstrap-overrides .panel-heading {
    padding: 10px 0px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
#bootstrap-overrides h4 .title-text {
    color: #000;
    margin-left: 10px;
}

#footer {
    border-top: none;
}

footer[style] {
    margin-top: 0px !important;
}

/* Done by Habib, starts here*/

.lead-custom {
    font-size: 17px;
    margin-bottom: 30px;
}
.col_one_third {
    margin-bottom: 30px;
}
.col_one_third h4 {
    margin-bottom: 20px;
}

.core-values img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    margin-bottom: 10%;
}

/* Fix margin on history section */
.history-custom-margin {
    margin-left: 30%;
    margin-right: 30%;
    font-size: 16px;
}

.history-body {
    /*padding-left: 10%;*/
    margin-left: 10px;
}

.director-attribute {
    font-size: 18px;
}

/*.key-milestones-title  {
    font-size: 50px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    color: white;
    }*/

.cd-horizontal-timeline .events-content h2 {
    font-size: 50px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    color: white;
}

.cd-horizontal-timeline .events-content p {
    color: white;
    padding-top: 12px;
}

.cd-horizontal-timeline .events-content h2 {
    margin-top: 2%;
    font-size: 28px;
}

.cd-horizontal-timeline .events a {
    color: white;
    font-weight: bold;
}

.heading-block h4 {
    font-size: 25px;
    font-weight: 700;
    color: #2e8ece;
}
.heading-block ~ p:not(.lead) {
    font-size: 20px;
    margin-bottom: 10px;
}

.country-group p {
    font-size: 20px;
    margin-bottom: 10px;
}

/* Done by Habib, ends here */

/* Woocommerce single product page */
.woocommerce-product-details__short-description ul li,
.woocommerce-Tabs-panel ul li {
    margin-left: 30px;
}

.page-title-parallax {
    margin-top: -62px;
}

/* Add left padding to woocommerce product summary */
.woocommerce div.product div.summary {
    padding-left: 48px;
}

/* Product archive page */
.ajax_add_to_cart {
    display: none !important;
}

.owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled {
    display: unset;
}

/* Single shop page */
.flex-control-nav.flex-control-thumbs {
    position: relative;
    top: 0px;
    left: 0;
    right: 0;
    margin: 2px -2px -2px 0;
    height: 100%;
}



/* Horizontal timeline customization, starts here */
.cd-horizontal-timeline .timeline {
    max-width: none;
    width: 65%;
}
.cd-horizontal-timeline {
    margin-top: 2%;
    /*background-color: rgba(242, 242, 242, 0.1);*/
}

.cd-horizontal-timeline .filling-line {
    background-color: #2e8ece;
}

.cd-horizontal-timeline .events-wrapper::before{
    opacity: 0;
}

.cd-horizontal-timeline .events-wrapper::after{
    opacity: 0;
}

/* Override green color to blue color, starts here */
.cd-horizontal-timeline .filling-line {
    background-color: #2e8ece;
}

.no-touch .cd-horizontal-timeline .events a:hover::after {
    background-color: #2e8ece;
    border-color: #2e8ece;
}

.cd-horizontal-timeline .events a.selected::after {
    background-color: #2e8ece;
    border-color: #2e8ece;
}

.cd-horizontal-timeline .events a.older-event::after {
    border-color: #2e8ece;
}

.no-touch .cd-timeline-navigation a:hover {
    border-color: #2e8ece;
}

a {
    color: #2e8ece;
}
/* Override green color to blue color, ends here */

/*.events-content h2:before{
    content:"\2022";
    color:#fff;
    padding-right: 10px;
}
.timeline-paragraph {
    padding-left: 1.5%;
    }*/

/* Horizontal timeline customization, ends here */

.history-image {
    float:left;
    margin:10px 20px 20px 20px;
    left: 50%;
    margin-left: -30px;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
}

.custom-section {
    background-color: #F9F9F9;
    padding: 60px 0;
}

.ceo-section {
    background: url('../images/custom-images/SKF-CEO-MD.jpg') 80%;
    padding: 100px 0;
}

.flex-control-nav {
    padding-right: 10px;
}
#slider-arrow-right, .camera_next, #slider .owl-next, .flex-next, .nivo-nextNav {
    margin-right: 15px;
}

.woocommerce-product-details__short-description p i {
    padding-right: 5px;
}

.product_meta .posted_in a {
    padding-left: 2px;
}
/* Add bottom margin on map div headings*/
.custom-margin {
    margin-bottom: 15px;
}
/* Add left margin on map div on asia section */
.custom-heading {
    margin-left: 85px;
}

.slick-list {
    overflow: visible;
}

/*** Custom icons start here ***/
/* Remove extra border */
.feature-box.fbox-outline .fbox-icon {
    border: none;
}

#tablet {
    background-image: url('../images/custom-images/custom-icons/TABLET_BLUE.png');
    background-repeat:no-repeat;
    background-size:cover;
    height: 100px;
    width: 100px;
}
#tablet:hover {
    background-image: url('../images/custom-images/custom-icons/TABLET_BLACK.png');
}
#capsule {
    background-image: url('../images/custom-images/custom-icons/CAPSULE_BLUE.png');
    background-repeat:no-repeat;
    background-size:cover;
    height: 100px;
    width: 100px;
}
#capsule:hover {
    background-image: url('../images/custom-images/custom-icons/CAPSULE_BLACK.png');
}
#sachet {
    background-image: url('../images/custom-images/custom-icons/SACHET_BLUE.png');
    background-repeat:no-repeat;
    background-size:cover;
    height: 100px;
    width: 100px;
}
#sachet:hover {
    background-image: url('../images/custom-images/custom-icons/SACHET_BLACK.png');
}
#bottle {
    background-image: url('../images/custom-images/custom-icons/BOTTLE_BLUE.png');
    background-repeat:no-repeat;
    background-size:cover;
    height: 100px;
    width: 100px;
}
#bottle:hover {
    background-image: url('../images/custom-images/custom-icons/BOTTLE_BLACK.png');
}
#ampoule {
    background-image: url('../images/custom-images/custom-icons/AMPOULE_BLUE.png');
    background-repeat:no-repeat;
    background-size:cover;
    height: 100px;
    width: 100px;
}
#ampoule:hover {
    background-image: url('../images/custom-images/custom-icons/AMPOULE_BLACK.png');
}
#insulin {
    background-image: url('../images/custom-images/custom-icons/INSULIN_BLUE.png');
    background-repeat:no-repeat;
    background-size:cover;
    height: 100px;
    width: 100px;
}
#insulin:hover {
    background-image: url('../images/custom-images/custom-icons/INSULIN_BLACK.png');
}
#mdi {
    background-image: url('../images/custom-images/custom-icons/MDI_BLUE.png');
    background-repeat:no-repeat;
    background-size:cover;
    height: 100px;
    width: 100px;
}
#mdi:hover {
    background-image: url('../images/custom-images/custom-icons/MDI_BLACK.png');
}
#lvp {
    background-image: url('../images/custom-images/custom-icons/LVP_BLUE.png');
    background-repeat:no-repeat;
    background-size:cover;
    height: 100px;
    width: 100px;
}

#lvp:hover {

    background-image: url('../images/custom-images/custom-icons/LVP_BLACK.png');

}

#liquid_vial {
    background-image: url('../images/custom-images/custom-icons/LIQUID_VIAL_BLUE.png');
    background-repeat:no-repeat;
    background-size:cover;
    height: 100px;
    width: 100px;
}
#liquid_vial:hover {
    background-image: url('../images/custom-images/custom-icons/LIQUID_VIAL_BLACK.png');
}
#eye_drops {
    background-image: url('../images/custom-images/custom-icons/EYE_DROPS_BLUE.png');
    background-repeat:no-repeat;
    background-size:cover;
    height: 100px;
    width: 100px;
}
#eye_drops:hover {
    background-image: url('../images/custom-images/custom-icons/EYE_DROPS_BLACK.png');
}
#lyophilized_vial {
    background-image: url('../images/custom-images/custom-icons/LYOPHILIZED_VIAL_BLUE.png');
    background-repeat:no-repeat;
    background-size:cover;
    height: 100px;
    width: 100px;
}
#lyophilized_vial:hover {
    background-image: url('../images/custom-images/custom-icons/LYOPHILIZED_VIAL_BLACK.png');
}
#mdi {
    background-image: url('../images/custom-images/custom-icons/MDI_BLUE.png');
    background-repeat:no-repeat;
    background-size:cover;
    height: 100px;
    width: 100px;
}
#mdi:hover {
    background-image: url('../images/custom-images/custom-icons/MDI_BLACK.png');
}

/*** Custom icons end here ***/


/*** Helper classes start here ***/

.justify {
    text-align: justify;
}
.lead-custom {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
}
.chairman-attribute {
    font-size: 14px;
    margin-bottom: 0px;
}
.custom-content-list {
    margin-left: 18px;
    list-style-type:square;
}

/*** Helper classes end here ***/

/*** Responsive settings start here ***/

@media (max-width: 1199px) {
    /* three col sec adjust paragraph font size*/
    .three-col-sec p {
        font-size: 12px;
    }
    .grid {
        position: relative;
        margin: 0 auto;
        padding: 1em 0 4em;
        max-width: 400px;
        list-style: none;
        text-align: center;
        padding-left: 20px;
    }
    .grid figure {
        max-width: 480px;
        max-height: 360px;
        width: 80%;
    }
    /* Fix margin on history section */
    .history-custom-margin {
        margin-left: 20%;
        margin-right: 20%;
        font-size: 16px;
    }

    #skf-footer-logo{
        right: 0;
    }

    #skf-footer-contact{
        left: 0;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {

    #skf-footer-logo{
        right: 0;
    }

    #skf-footer-contact{
        left: 0;
    }

}

@media (max-width: 991px) {
    /* Remove spacing from top*/
    #header.transparent-header.floating-header + #page-title.page-title-parallax {
        top: 0;
        margin-bottom: 0;
    }
    /* Change font color*/
    #primary-menu ul li > a, #primary-menu ul li > a{
        color: #666;
    }
    .page-title-parallax {
        margin-top: 0px;
    }
    /* woocommerce product summary */
    .woocommerce div.product div.summary {
        padding-left: 0px;
    }
    /* Fix margin on history section */
    .history-custom-margin {
        margin-left: 10%;
        margin-right: 10%;
        font-size: 16px;
    }

    /* Add white background with opacity 0.8 to highlight text */
    #md-ceo-corner .ceo-section-text {
        background: rgba(255,255,255,0.8);
        padding: 20px;
    }

    /* remove left margin on map div on asia section */
    .custom-heading {
        margin-left: 0px;
    }

    .country-group {
        padding-left: 0px;
        padding-right: 0px;
    }

    figure.effect-chico figcaption {
        padding: 0em;
    }

    .grid figure p {
        font-size: 70%;
    }

    #skf-footer-logo{
        right: 0;
    }

    #skf-footer-contact{
        left: 0;
    }

}

@media (min-width: 768px) and (max-width: 991px) {

    #skf-footer-logo{
        right: 0;
    }

    #skf-footer-contact{
        left: 0;
    }
}

@media (max-width: 767px) {

    #skf-footer-logo{
        right: 0;
    }

    #skf-footer-contact{
        left: 0;
    }
    .custom-skf-product-page-welcome-image{
        padding: 100px 0 !important;
    }
}

@media (min-width: 480px) and (max-width: 767px) {

    #skf-footer-logo{
        right: 0;
    }

    #skf-footer-contact{
        left: 0;
    }
    .custom-skf-product-page-welcome-image{
        padding: 100px 0 !important;
    }
}

@media (max-width: 479px) {
    /* three col sec adjust paragraph font size*/
    .three-col-sec p {
        font-size: 10px;
    }

    #skf-footer-logo{
        right: 0;
    }


    #skf-footer-contact{
        left: 0;
    }
    .custom-skf-product-page-welcome-image{
        padding: 100px 0 !important;
    }
}

/*** Responsive settings end here ***/
